#heading {
    font-family: fantasy;
    font-size: 40px;
    color:rgb(41, 167, 24);
    text-align: center;
    padding-bottom: 20px;
}

#question {
    text-align: center;
    color:rgb(41, 167, 24);
}